<%if @everything_worked == true%>
	<p class="welcomeParagraph">Thank you for joining us to make these local children's Christmas a little brighter! Please drop off unwrapped goods by December 14th to your local drop-off location. Please include child's wish list with the unwrapped gifts.</p>
<%else%>
	Something went wrong. Click the nack button in your browser and try again.
<%end%>
